html, body{
  background: #E3E3D8;
  font-family: sans-serif;
  padding: 25px;
  font-weight: bold;
  color: #9c9c9c;
   display: flex;
  justify-content: center;
}

p{
  font-size: 2em;
  font-style: italic;
  
}

.text{
  padding-top: -100%;
}
/* card desgin for the main body */
.card {
  /* Add shadows to create the "card" effect */
  width: 99.5786%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: box-shadow 0.5s, transform 0.5s;
  background: white;
  margin: auto;
  position: relative;
  overflow: hidden;
  box-shadow: 0;
  /*transform: scale(0.9);*/
  border-right: 2px solid #000;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  padding-top: 30px;
  position: relative;
}

/* Add some padding inside the card container */
.container {
  margin-top: 50px;
  text-align: center;
  font-size: 1em;
}
/*Card containing the design*/
.cardmain{
  /* Add shadows to create the "card" effect */
  width: 1098px;
  height: 456px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  transition: box-shadow 0.5s, transform 0.5s;
  background: white;
  margin: auto;
  position: relative;
  /*overflow: /hidden;*/
  box-shadow: 0;
  transform: scale(0.95);
  padding: 10px;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}
/*design for slider starts here*/
.slider {
  margin: 4em 0;
}
.wrapper {
  display: flex;
  justify-content: center;
}
.start_amount,
.end_amount {
  float: left;
  width: 10vw;
  color: #333;
  text-align: right;
  font-weight: bold;
}
.end_amount {
  text-align: left;
}
.start_amount {
  -webkit-box-shadow: 0px -1px 11px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -1px 11px 0px rgba(0,0,0,0.75);
  box-shadow: 0px -1px 11px 0px rgba(0,0,0,0.75);
  position: absolute;
  display: inline-block;
  width: 120px;
  height: 2em;
  text-align: center;
  font-weight: bold;
 /* white-space: nowrap;*/
  background-color: #fff;
  color: #33B5FF;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -45px;
  margin-bottom: 10px;
  font-size: 1.5em;
}
/*.scale{
  margin-top: -100%;
}
*/


.start_amount::before{
  content: "$";
  font-size: 1em;
}
.start_amount::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}
.range {
  position: relative;
  float: left;
  width: 80%;
  padding: 0 0.9375rem;
 }
input[type=range] {
  -webkit-appearance: none;
  display: block;
  width: 850px;
  height: 18px;
  padding: 0;
  border-radius: 100px;
  background: #314869;
  box-sizing: content-box;
  margin-left: -12px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]:hover {
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 40px;
  height: 40px;
  border: 2px solid #b6c5db;
  border-radius: 25px;
  background: #fff;
}

/*design for the monthly online sales scale starts here*/
.wrapper {
  display: flex;
  justify-content:center;  
}
/*higher indicator starts here*/
.vl {
  border-left: 3px solid #e8e8e8;
  height: 30px;
  position: absolute;
  left: 50%;
  margin-left: -40%;
  top: 64%;
}
.vl1 {
  border-left: 3px solid #e8e8e8;
  height: 30px;
  position: absolute;
  left: 50%;
  margin-left: -20%;
  top: 64%;
}
.vl2 {
  border-left: 3px solid #e8e8e8;
  height: 30px;
  position: absolute;
  left: 50%;
  margin-left: 0%;
  top: 64%;
}
.vl3 {
  border-left: 3px solid #e8e8e8;
  height: 30px;
  position: absolute;
  left: 50%;
  margin-left: 20%;
  top: 64%;
}
.vl4 {
  border-left: 3px solid #e8e8e8;
  height: 30px;
  position: absolute;
  left: 50%;
  margin-left: 40%;
  top: 64%;
}
/*lower idicator with amount starts here*/
.vi1 {
  border-left: 3px solid #e8e8e8;
  height: 30px;
  position: absolute;
  left: 50%;
  margin-left: -30%;
  top: 71%;
}
.vi2 {
  border-left: 3px solid #e8e8e8;
  height: 30px;
  position: absolute;
  left: 50%;
  margin-left: -10%;
  top: 71%;
}
.vi3 {
  border-left: 3px solid #e8e8e8;
  height: 30px;
  position: absolute;
  left: 50%;
  margin-left: 10%;
  top: 71%;
}
.vi4 {
  border-left: 3px solid #e8e8e8;
  height: 30px;
  position: absolute;
  left: 50%;
  margin-left: 30%;
  top: 71%;
}
.style7 {
  position: absolute;
  border-bottom: 2px solid #e8e8e8;
  height: 3px;
  margin-left: 10%;
  margin-right:auto;
  width: 60%;
}

p.amount{
  margin-top: 35px;
  margin-left: -100%;
  color: #5f80b3;
  font-size: 1.2em;
}